spring:
  config:
    activate:
      on-profile: mailapi

  # Mail configuration.
  mail:
    host: smtp.gmail.com
    port: 465
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    protocol: smtps
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
            trust: smtp.gmail.com